@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --background-image:  url(/1-images/premium_dancer.png);
    --primary-font-color: white;
    --primary-font:  "Montserrat" ,sans-serif ;
    --small-font: "roboto";
    --text-center: center;
}
.container {
    width: 100vw;
}
.navBar {
    align-items: center;
    background-color: black;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0.313rem 1.25rem;
    position: sticky;
    top: 0px;
    width: 100vw;
    z-index: 1000;
}
.navBar_logo {
    height: 2rem;
}
.navBar_menu {
    width: 2rem;
}
.navBar_links-list {
    display: none;
}
.hero {
    background-color: #529CF1;
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    height: 50vh;
    justify-content: space-evenly;
    padding: 1.3rem;
    width: 100vw;
}
.first-title {
    font-family: var(--primary-font);
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 3rem;
}
.p-hero {
    color: var(--primary-font-color);
    font-family: var(--primary-font) ;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 150%;
}
.button {
    background-color:  #26B758;
    border-radius: 50px;
    border-style: none;
    color: white;
    font-family: var(--primary-font) ;
    font-size: 0.8rem;
    height: 40px;
    letter-spacing: 0.1rem;
    width: 100%;
}
.conditions {
    color: var(--primary-font-color);
    font-family: var(--small-font);
    font-size: 1rem;
    font-weight: 500;
}
.benefits {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 0.5rem;
    width: 100vw;
}
.second-title {
    font-family: var(--primary-font) ;
    font-size: 1.9rem;
    font-weight: 600px;
    text-align: center;
}
.functions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}
.function {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 20px 0px;
    width: 80%;
}
.article-img {
    height: 30%;
    width: 30%;
}
.article-text {
    font-size: 2.5rem;
    width: 100%;
}
.article-title {
    font-family: var(--primary-font);
    font-size: 0.9rem;
    font-size: bold;
    margin-bottom: 10px;
}
.article-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.875rem;
}
.footer-page {
    align-items: center;
    background-color: black;
    display: flex;
    height: 20vh;
    justify-content: space-between;
    padding: 0 30px;
    width: 100vw;
}
.footer-links {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    height: 50%;
    width: 60%;
}
.footer-link {
    color:rgb(157, 153, 149);
    font-family: var(--small-font);
    font-size: 0.8em;
    text-decoration: none;
}
.copy-right {
    align-self: baseline;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    margin-top: 35px;
}
.copy-img {
    height: 18px;
    width: 18px;
    margin-left: 5px;
}
section.copy-right > p {
    color: rgb(157, 153, 149);
    font-family: var(--small-font);
    font-size: 0.8em;
    text-align: end;
}

@media ( min-width: 481px) and (max-width: 768px) {
    .navBar_logo {
        height: 36px;
    }
    .navBar_menu {
        display: none;
    }
    .navBar_links {
        font-family: var(--primary-font);
        width: 100%;
    }
    .navBar_links-list {
        align-items: center;
        display: flex;
        justify-content: right;
        width: 100%;
        
    }
    .navBar_links-item {
        color: var(--primary-font-color);
        display: inline;
        font-size: 0.64rem;
        margin-left: 0.4rem;
    }
    .hero {
        background-image: var(--background-image);
        background-position: 98% 40%;
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: space-between;
        position: relative;
        top: 0px;
    }
    .first-title {
        font-size: 3rem;
        width: 100%;
        margin-top: 30px;
    }
    .p-hero {
        font-size: 1.2rem;
    }
    .button {
        width: 290px;
    }
    .benefits {
        padding: 36px 16px;
        position: relative;
        top: 0px;
    }
    .second-title {
        font-size: 2.25rem;
    }
    .functions {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 0px;
        width: 100%;
    }
    .function {
        gap: 0px;
        height: 20%;
        justify-content: center;
        width: 49%;
    }
    .article-img {
        height: 35%;
        width: 35%;
    }
    .article-text {
        font-size: 2.3rem;
        width: 100%;
    }
    .article-title {
        font-size: 0.7rem;
        font-weight: bold;
    }
    .article-description {
        font-size: 0.875rem;
        text-align: --text-center;
    }
    .footer-page {
        height: 15vh;
    }
    .footer-links {
        flex-wrap: nowrap;
    }
    .copy-right {
        align-self: center;
        height: 60%;
        margin-top: 0px;
    }
}

@media (min-width: 769px) {
    .navBar_logo {
        height: 48px;
    }
    .navBar_menu {
        display: none;
    }
    .navBar_links {
        font-family: var(--primary-font);
        width: 100%;
    }
    .navBar_links-list {
        align-items: center;
        display: flex;
        font-size: 0.5rem;
        justify-content: right;
        width: 100%;
    }
    .navBar_links-item {
        color: var(--primary-font-color);
        display: inline;
        font-size: 0.8rem;
        margin-left: 16px;
    }
    .hero {
        background-image:  var(--background-image);
        background-position: 98% 40%;
        background-repeat: no-repeat;
        background-size: contain;
        justify-content: space-between;
        position: relative;
        top: 0px;
    }
    .first-title {
        font-size: 3.8rem;
        margin-top: 16px;
        width: 100%;
    }
    .p-hero {
        font-size: 1.4rem;
    }
    .button {
        width: 290px;
    }
    .conditions {
        display: inline-block;
        width: 70%;
    }
    .benefits {
        padding: 30px;
        position: relative;
        top: 0px;
    }
    .second-title {
        font-size: 2rem;
    }
    .functions {
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 20px 0px;
        width: 100%;
    }
    .function {
        flex-direction: column;
        height: 20%;
        justify-content: space-between;
        margin: 0px 20px;
        text-align: center;
        width: 48%;
    }
    .article-img {
        height: 70%;
        width: 70%;
    }
    .article-text {
        font-size: 3rem;
    }
    .article-title {
        font-size: 0.8rem;
        margin-bottom: 8px;
    }
    .article-description {
        font-size: 1rem;
        text-align: --text-center;
    }
    .footer-page {
        height: 15vh;
    }
    .footer-links {
        flex-wrap: nowrap;
    }
    .copy-right {
        align-self: center;
        margin-top: 0px;
        height: 60%;
    }
}