@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --primary-font-color: white;
    --text-center: center;
    --primary-font:  "Montserrat" ,sans-serif ;
    --small-font: sans-serif;
}
.navBar {
    align-items: center;
    background-color: black;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding: 0 15px;
    position: sticky;
    top: 0px;
    width: 100vw;
    z-index: 1000;
}
.navBar_logo {
    height: 32px;
}
.navBar_menu {
    width: 32px;
}
.navBar_links-list {
    display: none;
}
.hero {
    background-color: #529CF1;
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-between;
    padding: 0 5%;
    width: 100vw;
}
.first-title {
    font-family: var(--primary-font);
    font-size: 2.3em;
    font-weight: 800px;
    margin-top: 25%;
}
.p-hero {
    color: var(--primary-font-color);
    font-family: var(--primary-font) ;
    font-size: 0.9em;
    font-weight: 600px;
    letter-spacing: 0.2em;
    line-height: 200%;
}
.button {
    background-color:  #26B758;
    border-radius: 50px;
    border-style: none;
    color: white;
    font-family: var(--primary-font) ;
    font-size: 0.8em;
    height: 48px;
    letter-spacing: 0.1em;
    width: 100%;
}
.conditions {
    color: var(--primary-font-color);
    font-family: var(--small-font);
    font-size: 0.7em;
    margin-bottom: 10%;
}
.benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10% 2%;
}
.second-title {
    font-family: var(--primary-font) ;
    font-size: 1.7em;
    font-weight: 600px;
    text-align: center;
}
.fuctions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
}
.function {
    align-items: center;
    display: flex;
    width: 100%;
    gap: 2%;
}
.article-img {
    height: 120px;
    width: 120px;
}
.article-text {
    width: 100%;
}
.article-title {
    font-family: var(--primary-font);
    font-size: 14px;
    font-size: bold;
}
.article-description {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}
.footer-page {
    align-items: center;
    background-color: black;
    display: flex;
    height: 20vh;
    justify-content: space-between;
    padding: 0 30px;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 60%;
    height: 50%;
    align-self: flex-end;
    margin-bottom: 5%;
}
.footer-link {
    font-family: var(--small-font);
    font-size: 0.8em;
    color:rgb(157, 153, 149);
    text-decoration: none;
}
.copy-right {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
    align-self: baseline;
    margin-top: 8%;
}
.copy-img {
    height: 18px;
    width: 18px;
    margin-left: 5px;
}
section.copy-right > p {
    color: rgb(157, 153, 149);
    font-family: var(--small-font);
    font-size: 0.8em;
    text-align: end;
}

@media ( min-width: 600px) and (max-width: 1239px) {
    .navBar {
        width: 100vw;
    }
    .navBar_logo {
        height: 48px;
    }
    .navBar_menu {
        display: none;
    }
    .navBar_links {
        font-family: var(--primary-font);
    }
    .navBar_links-list {
        align-items: center;
        display: flex;
        justify-content: right;
    }
    .navBar_links-item {
        color: var(--primary-font-color);
        display: inline;
        margin-left: 15px;
    }
    .hero {
        background-image:  url(1-images/premium_dancer.png);
        background-repeat: no-repeat;
        background-position: 98% 40%;
        background-size: contain;
        height: 50vh;
        justify-content: space-around;
        position: relative;
        top: 0px;
    }
    .first-title {
        font-size: 3.7em;
        width: 1000px;
        margin-top: 10%;
    }
    .p-hero {
        font-size: 1em;
        font-weight: 800px;
    }
    .button {
        font-size: 1em;
        height: 54px;
        width: 250px;
    }
    .conditions {
        width: 70%;
    }
}

@media (min-width: 1240px) {}