@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}
:root {
    --primary-font-color: white;
}
img{
    box-sizing: content-box;
}
.navBar {
    align-items: center;
    background-color: black;
    display: flex;
    height: 10vh;
    justify-content:space-between ;
    padding: 0 15px 0 24px;
}
.navBar_logo {
    height: 48px;
    width: 162px;
}
.navBar_links {
    font-family: "Montserrat" ,sans-serif ;
    float: right;
}

.navBar_links-list {
    align-items: center;
    display: flex;
    height: 80px;
}
.navBar_links-item {
    color: var(--primary-font-color);
    display: block;
    float: right; 
    margin: 0 15px 0 15px;
}
.initial-page {
    display: flex;
    flex-direction: column;
    background-color: #529CF1; 
    background-image: url(1-images/premium_dancer.png);
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    color: var(--primary-font-color);
    height: 90vh;
    padding: 30px;
    justify-content: space-between;
}
.first-title {
    font-family: "Montserrat" ,sans-serif ;
    font-size: 72px;
    font-weight: 800px;
    width: 1000px;
}
.p-first-page {
    font-family: "Montserrat" ,sans-serif ;
    font-size: 26px;
    font-weight: 800px;
    width: 75vw;
}
.button {
    border-radius: 50px;
    background-color:  #26B758;
    border-style: none;
    color: white;
    height: 54px;
    width: 300px;
    font-family: "Montserrat" ,sans-serif ;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.first-footer {
    font-family: sans-serif ;
    width: 50vw;
}